* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden; /* Hide scrollbars */
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9A7B0, #e46ac2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9A7B0, #e46ac2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section {
    padding: 20px;
}

section div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(239, 90, 244, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(239, 90, 244, 0.3);
    min-width: 90vw;
    max-width: 500px;
    min-height: 90vh;

}